* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@300&display=swap');

.navbar {
        height: 110px;
        background-color: rgb(239, 240, 242);

}

.navbar-brand {
        font-size: 16px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 0px 0px 2px rgba(21, 21, 22, 0.75);
        border-width: 5.54px;
        border-color: rgb(23, 15, 28);
        border-style: solid;
        padding: 5px;
        line-height: 1.647;
        width: 113px;
        height: 46px;
}

.navbar-brand span {
        color: aqua;
        font-size: 17px;
        text-shadow: 0px 0px 2px rgba(21, 21, 22, 0.75);
}

.wrapper {
        padding-top: 200px;
        padding-bottom: 200px;
        background-color: rgb(239, 240, 242);
}

.wrapper h1 {
        padding-bottom: 140px;
        text-align: center;
        font-size: 45px;
        color: rgb(80, 80, 80);
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
}

.wrapper h1 span {
        color: rgb(80, 80, 80);
        background-color: #b2f2ee;
}

.wrapper button {
        border-width: 2px;
        border-color: rgb(0, 0, 0);
        border-style: solid;
        border-radius: 2px;
        width: 228px;
        height: 49px;

        /* Текст */
        font-size: 18px;
        color: rgba(0, 0, 0, 0.749);
        text-transform: uppercase;
}

.content {
        background-color: rgb(248, 250, 250);
        overflow: hidden;
}

#firstsection {
        padding-top: 130px;
        padding-bottom: 150px;
}

.titleSection {
        color: rgba(0, 0, 0, 0.902);
        font-weight: bold;
        text-transform: uppercase;
}

.content h3 {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.62);
        text-transform: uppercase;
        text-align: center;
}

.aboutTittle {
        padding-right: 44px;
        padding-left: 44px;
}

.content {
        padding-bottom: 100px;
}

.aboutTittle h4 {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.749);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.4;
}

.aboutTittle p {
        font-size: 16px;
        font-family: "Raleway";
        color: rgba(0, 0, 0, 0.741);
        line-height: 1.75;
}

.aboutTittle h5 {
        font-size: 17px;
        font-family: "Myriad Pro";
        color: rgba(0, 0, 0, 0.749);
        text-transform: uppercase;
        line-height: 1.647
}



.card {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/card1.png);
        height: 442px;
        background-size: cover;
}

.card-text {
        padding-top: 185px;
        padding-left: 65px;
}

.card-text h6 {
        font-size: 20px;
        font-family: "Merriweather";
        color: rgba(255, 255, 255, 0.949);
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
}

.card-text p {
        font-size: 16px;
        font-family: "Raleway";
        color: rgba(255, 255, 255, 0.902);
        line-height: 1.563;
        text-align: left;
        max-width: 470px;
}

.btn-card {
        font-size: 18px;
        color: rgba(249, 251, 251, 0.902);
        text-transform: uppercase;
        margin-bottom: 55px;
        margin-left: 65px;
}

.cardClicked {
        display: none;
        background-color: rgb(109, 246, 235);
        opacity: 0.969;
        height: 442px;
        transform: scale(1) rotate(0deg);
}

.cardClicked h6 {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.831);
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
}

.cardClicked p {
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        text-align: left;
        color: rgba(0, 0, 0, 0.749);
        line-height: 1.7;
        padding-top: 40px;
}

.cardclicked-text {
        padding-top: 60px;
        padding-left: 65px;
}

.btnCardClosed {
        margin-left: 20px;
        margin-bottom: 20px;
}

.saycard {
        height: 362px;
        width: 666px;
        background-color: #eaebed;
}

.name {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.949);
        font-weight: bold;
        line-height: 1.4;
        text-align: center;
        text-transform: uppercase;
}

.name span {
        color: rgb(80, 80, 80);
        ;
        font-size: 16px;
}

.saycard {
        border-radius: 3px;
        background-color: rgb(234, 235, 237);
}

.saycard p {
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        color: rgba(0, 0, 0, 0.702);
        line-height: 1.688;
        height: 97px;
}

.aboutUs {
        padding-bottom: 0px;
}

.contact {
        padding-bottom: 120px;
        background-image: url(images/BgContact.png);
        background-size: cover;
}

.contactForm1 {
        background-color: rgb(2, 22, 35);
        opacity: 0.71;
        box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
        height: 460px;
        align-items: center;
}

.contactForm2 {
        background-color: rgb(2, 22, 35);
        opacity: 0.71;
        box-shadow: 0px 0px 3px 0px rgba(21, 21, 21, 0.16);
        width: 500px;
        height: 460px;
}

.form-label {
        font-size: 15px;
        font-family: "Raleway";
        color: rgba(255, 255, 255, 0.6);
        line-height: 3.4;
}

.textForm {
        background: transparent;
        outline: 0;
        border: 0;
        border-bottom: 1px solid black;
        border-color: rgb(255, 255, 255);
        border-radius: 0%;
        width: 456px;
        padding: 0;
        padding-bottom: 10px;
        margin-top: 10px;
}

.textForm:focus {
        outline: 0;
        border: 0;
        background: transparent;
        color: aliceblue;
        padding-bottom: 0;
}

#exampleFormControlInput4 {
        padding-bottom: 100px;
}

.submitBtn {
        border-radius: 2px;
        background-color: rgb(110, 238, 228);
        width: 244px;
        height: 53px;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.702);
        text-transform: uppercase;
        line-height: 1.556;
        font-weight: bold;
}

.contactForm2 {
        font-size: 15px;
        font-family: "Raleway";
        color: rgba(255, 255, 255, 0.702);
        line-height: 1.6;
}

footer {
        padding-top: 90px;
        padding-bottom: 90px;
        display: flex;
        justify-content: center;
        background-color: rgb(38, 43, 46);
        width: 100%;
}

.social {
        background-color: rgb(138, 138, 138);
        width: 46px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
}

.social:hover {
        background-color: rgb(113, 246, 235);
}

.footerblock h6 {
        font-size: 16px;
        font-family: "Raleway";
        color: rgba(255, 255, 255, 0.8);
        line-height: 1.563;

}

.copyright {
        font-size: 16px;
        font-family: "Raleway";
        color: rgba(255, 255, 255, 0.4);
        line-height: 1.563;
        text-align: center;
}

.saycard {
        display: none;
        height: 362px;
        width: 666px;
        background-color: #eaebed;
        padding-left: 20px;
        padding-right: 20px;
}

.team {
        position: relative;
}

.teamWrap {
        background-color: #70f6eb;
        position: absolute;
        z-index: 2000;
        left: 10%;
        bottom: 5%;
        height: 50%;
        width: 80%;
        padding: 40px;
        display: none;
        font-size: 14px;

}
.indicatorsCarousel{
        width: 10px;
        height: 10px;
        border-radius: 3px;
        background-color: rgb(208, 208, 208);
        display: block;
        margin-right: 2px;
        margin-left: 2px;
        margin-bottom: 20px;
} 
    